.progress-gradient {
  background: linear-gradient(to right, #90ef89, #d692dd, #726edd);
}

.top-glow {
  box-shadow: 0 -26px 20px rgba(243, 186, 47, 0.3);
}

/* App.css */
.loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid white;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-right: 8px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Define the keyframes for the blinking animation */
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Apply the animation to the dot class */
.dot {
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  animation: blink 1s infinite;
}

.circle-outer {
  background: linear-gradient(to bottom, #575def, #202731);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 90vw;
  max-width: 360px;
  max-height: 360px;
}

.circle-inner {
  background: radial-gradient(circle, #4960b2, #282e3e);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
.bg-[#272a2f] {
  background-color: #272a2f;
}

.text-gray-300 {
  color: #b3b3b3;
}

.text-yellow-500 {
  color: #f5d142;
}

.bg-gradient-to-b {
  background: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.from-orange-500 {
  --tw-gradient-from: #f97316; /* This is Tailwind's orange-500 */
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(249, 115, 22, 0));
}

.rounded-lg {
  border-radius: 0.5rem;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.text-4xl {
  font-size: 2.25rem; /* Tailwind's 4xl size */
}

.mt-4 {
  margin-top: 1rem;
}

.space-x-2 > :not(:last-child) {
  margin-right: 0.5rem;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}
